

.container {
    margin: auto;
    margin-top: 5%;
    border: 2px solid;
    width: 50%;
    text-align: center;
    height: fit-content;
    background-color: lightblue;
    border-radius: 77%;
}
ul {
    margin-top: 20px;
    list-style-type: none;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.input:hover:active {
    color: darkgrey;
}
h1 {
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}